<div class="ui menu">
  <div class="header item">Semantic Angular</div>
  <a class="item"> About Us </a>
  <a class="item"> Jobs </a>
  <a class="item"> Locations </a>
</div>

<div class="ui cards">
  <div class="card">
    <div class="content">
      <img
        class="right floated mini ui image"
        src="https://semantic-ui.com/images/avatar/large/elliot.jpg"
      />
      <div class="header">Elliot Fu</div>
      <div class="meta">Friends of Veronika</div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <img
        class="right floated mini ui image"
        src="https://semantic-ui.com/images/avatar/large/elliot.jpg"
      />
      <div class="header">Jenny Hess</div>
      <div class="meta">New Member</div>
      <div class="description">
        Jenny wants to add you to the group <b>best friends</b>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
</div>

<div class="ui labeled button" tabindex="0">
  <div class="ui red button"><i class="heart icon"></i> Like</div>
  <a class="ui basic red left pointing label"> 1,048 </a>
</div>
<div class="ui labeled button" tabindex="0">
  <div class="ui basic blue button"><i class="fork icon"></i> Forks</div>
  <a class="ui basic left pointing blue label"> 1,048 </a>
</div>

<div class="ui grid">
  <div class="two column large screen only row">
    <div class="column">
      <div class="ui segment">Large Screen</div>
    </div>
    <div class="column">
      <div class="ui segment">Large Screen</div>
    </div>
  </div>
  <div class="two column large screen only row">
    <div class="column">
      <div class="ui segment">Widescreen</div>
    </div>
    <div class="column">
      <div class="ui segment">Widescreen</div>
    </div>
  </div>
  <div class="two column mobile only row">
    <div class="column">
      <div class="ui segment">Mobile</div>
    </div>
    <div class="column">
      <div class="ui segment">Mobile</div>
    </div>
  </div>
  <div class="three column row">
    <div class="computer only column">
      <div class="ui segment">Computer</div>
    </div>
    <div class="tablet mobile only column">
      <div class="ui segment">Tablet and Mobile</div>
    </div>
    <div class="column">
      <div class="ui segment">All Sizes</div>
    </div>
    <div class="column">
      <div class="ui segment">All Sizes</div>
    </div>
  </div>
  <div class="four column computer only row">
    <div class="column">
      <div class="ui segment">Computer</div>
    </div>
    <div class="column">
      <div class="ui segment">Computer</div>
    </div>
    <div class="column">
      <div class="ui segment">Computer</div>
    </div>
    <div class="column">
      <div class="ui segment">Computer</div>
    </div>
  </div>
  <div class="three column tablet only row">
    <div class="column">
      <div class="ui segment">Tablet</div>
    </div>
    <div class="column">
      <div class="ui segment">Tablet</div>
    </div>
    <div class="column">
      <div class="ui segment">Tablet</div>
    </div>
  </div>
</div>
