<p-card
  header="Yirsis Serrano"
  subheader="Fullstack Developer"
  [style]="{ margin: '1rem 0px' }"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nostrum
    asperiores porro, dicta magnam nulla beatae molestias earum quam hic enim!
    Voluptatum esse placeat, hic dolore veritatis est enim magni. Accusantium
    hic quam voluptatem alias quod ea suscipit architecto numquam praesentium,
    consequuntur laudantium quibusdam eius itaque aut sapiente animi labore
    deserunt ab. Soluta nesciunt velit, temporibus ab laboriosam quos cumque.
    Nesciunt ipsa aspernatur rerum quasi delectus illo, error natus, repellendus
    totam excepturi est! Distinctio magni maiores repellat odit, necessitatibus,
    possimus iusto mollitia quod, illo voluptas dicta explicabo corporis
    accusamus consectetur? Distinctio quia porro modi rem dolorem, a voluptate
    enim eveniet maxime autem magnam labore itaque ipsum inventore quam ullam
    laboriosam reiciendis architecto cupiditate! Vel pariatur illum dolores
    repellat vitae eligendi! Quo officia natus deserunt odio culpa voluptatum
    excepturi porro eveniet alias provident, totam, ipsam perferendis similique
    cupiditate commodi sit repellendus quaerat! Veritatis delectus nulla minus!
    Sit, maxime facere. Facere, nihil? Laboriosam corrupti, fugit consequatur,
    soluta fugiat necessitatibus dignissimos iste veritatis sapiente voluptatum
    et qui libero eveniet est minima tempora! Aut, sapiente quod! Corporis rerum
    nesciunt recusandae officia perspiciatis quos! Veniam? Explicabo est
    recusandae praesentium minima doloribus? Minus ullam voluptates, laudantium
    voluptate, laborum deserunt ducimus corporis quam repellendus molestiae in
    nostrum at rem nulla aliquid magnam ipsum inventore officiis. Neque,
    corrupti? Quam hic cupiditate, delectus, natus est inventore voluptates amet
    explicabo corporis perspiciatis pariatur odit sapiente reprehenderit
    similique omnis accusantium mollitia nostrum minima. Quam eligendi quo
    beatae necessitatibus quae dicta culpa. Eveniet numquam, dignissimos
    reiciendis aperiam aliquam esse qui voluptatem perferendis? Excepturi,
    repellat praesentium? Eum incidunt, neque consequatur quam recusandae maxime
    numquam soluta facere provident alias labore aliquid repudiandae fugiat
    autem! Pariatur corrupti reprehenderit porro ad rerum. Numquam officiis
    alias eum, quod quas tempora hic aliquid corporis vel saepe itaque ducimus
    praesentium nulla voluptatum pariatur sunt architecto delectus esse
    reprehenderit? Iusto! Facilis, repellendus? Nisi explicabo reprehenderit in
    quasi, iusto ipsa quaerat architecto suscipit quisquam debitis magni?
    Molestias delectus iste sapiente eos porro dignissimos dolor aliquam
    quibusdam, inventore necessitatibus? Quasi, perferendis corporis? Animi eos
    aperiam deleniti veniam fugit nam laborum quas aspernatur cumque aliquid
    soluta, eum sed repudiandae deserunt explicabo eveniet. Minima, dignissimos?
    Voluptatem porro molestiae quos laboriosam ducimus similique possimus
    libero! Consequuntur recusandae eligendi praesentium ut numquam eaque
    laboriosam, iste dignissimos animi ab commodi harum itaque ipsa. Cupiditate
    quos, aliquam voluptas dolore quaerat reiciendis necessitatibus perspiciatis
    dolorem sapiente, corrupti totam veritatis! Placeat ullam, minus, doloremque
    fugit et soluta odio doloribus in deleniti repudiandae quas, beatae maiores
    dicta autem laboriosam! Et quia excepturi illum commodi. Fugiat pariatur ex
    esse eaque modi! Eos. Laboriosam ipsum ad consectetur qui facere vel
    temporibus officiis, recusandae repellat asperiores similique,
    exercitationem perferendis assumenda rerum quibusdam. Dolorem doloribus et
    cumque, repellendus harum iusto. Facere repudiandae accusamus odit delectus.
    Maiores aspernatur ut error unde, facere quod nisi quidem maxime pariatur
    accusantium tempore ipsum, illum soluta dolorum. Facilis eveniet, eum
    voluptatum debitis dolorem facere temporibus officiis officia itaque
    similique blanditiis! Voluptates, officia ipsum! Ducimus vero culpa, illum
    temporibus sit architecto maxime laboriosam ipsa ratione quo, numquam ullam,
    necessitatibus praesentium labore assumenda accusamus atque inventore
    eveniet explicabo neque voluptate aperiam nobis. Voluptas cumque, ipsa at
    possimus consequatur beatae sit eum eos expedita doloribus cum repellat
    ipsam aliquid natus voluptatibus minus eaque corporis voluptates quod, omnis
    autem? Perferendis, modi? Porro, quis laudantium? Iusto dolorem dolorum,
    iure perspiciatis fugit placeat reiciendis officiis ad facere nisi
    consectetur, magnam fuga doloremque nihil cum ex incidunt itaque sapiente
    recusandae qui. Expedita earum consequatur facere quam fuga? Odio adipisci
    nam fuga porro aliquam ullam. Eligendi nemo tempora doloremque, earum iure
    ducimus ullam est, alias fugit libero facilis explicabo culpa? Qui ad
    dolores pariatur minima iste repellendus cupiditate. Aperiam sequi possimus
    eligendi architecto. Aperiam et, reprehenderit esse autem mollitia amet
    porro aliquid quaerat! Cum labore commodi fugit, assumenda qui fuga
    provident illo laborum ducimus aliquid nam hic culpa. Culpa, ex deserunt?
    Totam reprehenderit suscipit tempora ipsam nostrum! Corrupti, ea similique
    vero ex facere reprehenderit beatae nulla nemo, laudantium, laboriosam quae
    debitis aspernatur culpa. Aut facilis tenetur error quasi! Unde labore
    perspiciatis cum. Officia quo quae, magnam impedit in aliquam quisquam
    veritatis quibusdam enim velit illo accusantium aperiam nulla quod veniam
    odio doloribus deserunt optio, assumenda dolore. Consequuntur, velit?
    Exercitationem nam assumenda iste fugit iure rerum ex est, nemo nulla
    ducimus ipsum unde ipsam obcaecati optio! Soluta eos explicabo asperiores
    illo accusantium voluptates expedita animi, aliquid iure deserunt possimus?
    Provident modi fugiat aliquid harum voluptatem! Expedita, deleniti soluta
    fugit natus quibusdam ab? Earum quam laborum atque et dolores, tempore
    placeat, aliquid sint, nobis omnis animi! Sint non ipsam perferendis!
    Libero, magnam asperiores laboriosam eveniet tempora ullam impedit corporis
    doloremque neque nobis, quia incidunt quisquam, ducimus itaque? Enim
    voluptas quos ea. Delectus eaque ipsum at incidunt possimus amet iusto est?
    Voluptatem, laborum placeat obcaecati, error ipsa sit praesentium quae
    exercitationem architecto ad, explicabo quisquam fugiat facilis fugit
    sapiente molestiae eligendi voluptas sequi necessitatibus dolor cupiditate!
    Corrupti ducimus dolore accusamus hic. Accusamus iusto autem, aperiam
    quaerat nemo et! Minus odit ducimus, architecto, quidem doloribus atque quo
    repudiandae in labore inventore, eum illum impedit error vel debitis
    repellendus nihil rerum est hic. Quisquam numquam iusto saepe quaerat eius
    maxime aspernatur eaque laborum expedita exercitationem voluptates, nostrum
    blanditiis est tenetur natus dolores id nihil, similique quod assumenda
    odio! Omnis voluptate dolor aliquid magnam. Deserunt consequatur, illum
    consectetur quod eos assumenda modi, fugiat ipsa dolore id sapiente, porro
    laboriosam nihil! Esse fugiat, totam suscipit nisi reprehenderit qui
    aliquid, perferendis at incidunt, provident eius neque! Neque eveniet ipsam
    nostrum iusto animi. Labore officia voluptatibus voluptas repellendus atque
    sed corporis voluptatem cumque fuga eos possimus ea dolores consequatur
    libero quidem temporibus, architecto exercitationem expedita alias nostrum.
    Amet, exercitationem? Odio hic nostrum similique temporibus reiciendis
    maxime libero earum fuga, officia illo ab? Vero nulla assumenda doloremque
    nam dicta culpa, voluptate illum qui, eum labore tenetur obcaecati ipsum.
    Libero asperiores temporibus delectus ratione eum in omnis odit assumenda,
    hic, recusandae perferendis vero obcaecati quam reiciendis non sunt
    praesentium fugit. Ad libero doloribus inventore accusantium aut ducimus
    autem exercitationem? Quibusdam sunt nostrum cum! Iure velit adipisci modi,
    ut officiis praesentium eius obcaecati eveniet illum ipsam magnam doloribus
    ad autem porro error, perspiciatis dicta minus animi fugit! Delectus,
    aliquam voluptas. Laboriosam veritatis nam eligendi et. Cumque quibusdam
    autem, vitae temporibus sapiente quod aperiam? Inventore deserunt quam
    quidem! Odio provident excepturi tempora veritatis assumenda! Nisi quam
    cupiditate sapiente esse id nesciunt. Labore, commodi aliquam maiores hic
    expedita molestiae quos, explicabo eaque in nemo ullam numquam nam magni ut
    beatae ad rem dolore autem! Nemo, est sint consectetur maiores dolores
    magnam quos. A et, laborum sapiente fuga explicabo soluta, maxime natus id
    dignissimos commodi at consequuntur deleniti, ratione molestias magni
    cupiditate nam quam. Nisi fugit temporibus iure, non aliquam perspiciatis!
    Saepe, quasi. Harum, adipisci! Nisi suscipit accusantium laudantium iure
    voluptas recusandae nemo quas placeat sunt! A, modi deleniti. Reiciendis ab
    maxime laudantium dolorum nisi, vero similique, nostrum, facere numquam qui
    ducimus error! Necessitatibus eius, expedita ratione voluptatem quo
    exercitationem recusandae dolorum, soluta cumque odit libero officia sequi
    natus iusto id, consequuntur corrupti assumenda quibusdam cupiditate quam?
    Mollitia consequuntur alias asperiores non nostrum? Illo ducimus dignissimos
    quasi quidem qui velit dolor atque maiores aut cumque voluptates perferendis
    repudiandae, distinctio rerum. Labore, consectetur provident. Quasi eum sunt
    labore distinctio numquam modi? Accusantium, modi ipsa! Quas, tenetur!
    Doloribus, amet quaerat. Dolorem animi neque repudiandae voluptate eligendi
    ratione itaque quos ex ad delectus est alias, voluptatibus qui omnis!
    Voluptate optio temporibus ex earum iure ipsam hic! Ea ratione delectus ipsa
    sunt laboriosam architecto voluptatem aperiam possimus tempora beatae
    obcaecati incidunt adipisci eligendi quisquam autem amet, aut minima magni
    et dicta excepturi, vel veniam officia doloribus. Neque. Officiis esse
    tenetur impedit possimus eligendi, unde dolore beatae magni omnis?
    Dignissimos quasi quas veritatis incidunt sint est dolores eum. Quia error
    asperiores vitae modi, pariatur suscipit illo non neque? Inventore
    asperiores facere autem a dolorem, quae voluptatibus accusantium vel. Fugit,
    molestias? Rerum iure voluptatibus illum veniam modi laboriosam illo, cum
    molestias, fugiat, eius quibusdam! Assumenda magni aspernatur aliquid
    corporis! Maxime maiores velit ab quam totam architecto dolorum culpa
    molestiae optio, natus distinctio eos adipisci quaerat! In, rem veniam quasi
    nostrum at recusandae voluptatum, libero, aut unde dicta dolorum incidunt?
    Veritatis consectetur doloremque repellendus voluptatum velit, a accusamus
    aspernatur voluptatibus cumque, vitae perspiciatis inventore blanditiis
    aliquam quisquam reiciendis iste unde, accusantium quos molestiae similique
    quasi facilis ad quo illo? Ipsa? Assumenda quod accusamus quidem asperiores!
    Autem quod quo porro et. Corrupti dolorum recusandae id nemo, inventore,
    repellat voluptates voluptatum placeat, facere quidem nobis nulla et
    voluptatem praesentium autem fugit aut. Dolorem aperiam modi corporis sint.
    Tenetur quis sunt voluptatem corporis cum dolorem numquam iste ipsum rem,
    eius neque labore officiis dolor quasi placeat minima, in nisi, provident
    iusto libero aliquid! Provident cupiditate deserunt, amet optio labore
    fugiat placeat vero quaerat atque iste? Minus enim quas quisquam
    repudiandae, facilis aperiam voluptas magni, tenetur consequuntur obcaecati
    quibusdam explicabo! Quibusdam optio doloribus vel. Excepturi eligendi non
    provident alias aliquid, amet temporibus natus! Delectus dolore, ullam harum
    id laborum iusto quo excepturi totam, voluptatum maxime magni incidunt autem
    modi placeat amet eligendi dolor dolorum.
  </p>
</p-card>
