<div class="grid">
  <div class="col-12 md:col-8">
    <p-card
      header="Yirsis Serrano"
      subheader="Fullstack Developer"
      [style]="{ margin: '1rem 0px' }"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
        repellendus, commodi alias nostrum harum ratione molestiae hic vero
        eligendi corporis, tempore ullam ex accusantium esse fugit blanditiis.
        Itaque, ratione quod. Dolore ex mollitia illo saepe odio recusandae ea
        illum sit libero explicabo ipsum consequuntur est totam numquam vero
        aliquam deserunt esse nesciunt molestias porro, accusamus blanditiis
        quis eos doloremque! Iure? Laudantium praesentium doloremque maiores
        nostrum blanditiis. Fugiat eligendi exercitationem eum accusantium? Quia
        magni quam eos expedita necessitatibus labore odit quo, accusamus error
        quasi officia nisi impedit maiores dolor libero assumenda! Nobis ea
        praesentium repellat mollitia iste quas magnam expedita dignissimos
        dolores, distinctio sunt sequi soluta ut, nihil culpa qui modi nisi
        doloribus quae quam aspernatur! Amet sint voluptates officia ipsa!
        Consequuntur suscipit possimus quos, aut numquam, facere, amet
        reprehenderit itaque culpa vitae quis debitis incidunt! Laboriosam
        provident officiis quos possimus in dolore, minima perferendis
        blanditiis labore voluptatibus voluptate dicta alias. Corrupti
        temporibus, harum molestiae optio ipsam, deleniti consequatur doloribus
        accusantium neque sint provident. Enim maxime quo dolores provident
        quaerat dignissimos molestiae obcaecati officiis praesentium cupiditate,
        eaque dolorem veritatis culpa assumenda? Id commodi, molestias natus
        quidem corrupti sapiente deserunt rerum architecto porro, fuga dolore
        magni, enim ab quaerat. Consectetur iste non saepe laborum a commodi
        voluptate perferendis tempore nemo. Iusto, nostrum! Sunt aliquam nemo,
        dolorum itaque vitae, repudiandae quaerat cupiditate impedit, modi
        similique recusandae rem voluptate saepe tempora! Nesciunt dolore
        ratione at, qui similique numquam, officiis facilis quas, quidem impedit
        voluptatem? Placeat quod at quasi. Ea dicta perferendis exercitationem
        animi doloribus distinctio odio? Ducimus voluptatibus, facere quam quis
        minima error ipsam excepturi. Vel ipsam et, ut quibusdam magni
        necessitatibus veritatis aut! Eum praesentium, incidunt odio quam sint
        nihil? Iste earum quisquam quibusdam quam cumque rerum illum itaque,
        tenetur quae libero exercitationem suscipit laudantium commodi inventore
        saepe qui quia voluptas placeat ipsa?
      </p>
    </p-card>
  </div>
  <div class="col-12 md:col-4 flex justify-content-center align-items-center">
    <img src="assets/icon.png" alt="Logo.png" width="500" height="500" />
  </div>
</div>
